
/* COLOR PALETTE
    black: rgb(0, 23, 50);
*/

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole generiche */
body{
    background-color: rgb(216, 238, 232);
    padding: 16px;
    line-height: 1;
    color: rgb(0, 23, 50);
    font-family: 'Darker Grotesque', sans-serif;
}

.game-container{
    width: 484px;
}

/* Pannello gioco */
h1{
    font-size: 40px;
}

.score{
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

/* Tabellone gioco */

.game-board{
    border: 2px solid rgb(0, 23, 50);
    position: relative;
}

.grid{
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cell{
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.cell-dark{
    background-color: rgb(203, 224, 221);
}

/* schermata di fine gioco */
.end-game-screen{
    background-color: rgba(241, 117, 78, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.end-game-text{
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 16px;
}

button{
    border: 2px solid rgb(0, 23, 50);
    font-size: 24px;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
    padding: 4px 20px 8px 20px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(203, 224, 221);
}

.hidden{
    display: none;
}

/* .cell-clicked{
    background-color: ;
} */

.cell-bomb{
    background-color: rgb(241, 117, 78,);
}